
<div *ngIf="user">
    <h2><span jhiTranslate="trackerrApp.user.detail.title">User</span> {{user.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trackerrApp.user.login">Login</span></dt>
        <dd>
            <span>{{user.login}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.firstName">First Name</span></dt>
        <dd>
            <span>{{user.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.lastName">Last Name</span></dt>
        <dd>
            <span>{{user.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.email">Email</span></dt>
        <dd>
            <span>{{user.email}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{user.imageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.activated">Activated</span></dt>
        <dd>
            <span>{{user.activated}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.langKey">Lang Key</span></dt>
        <dd>
            <span>{{user.langKey}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.createdBy">Created By</span></dt>
        <dd>
            <span>{{user.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.createdDate">Created Date</span></dt>
        <dd>
            <span>{{user.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{user.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{user.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.projects">Projects</span></dt>
        <dd>
            <span *ngFor="let projects of user.projects; let last = last">
                <a [routerLink]="['/project', projects?.id ]">{{projects.projectName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="trackerrApp.user.tasks">Tasks</span></dt>
        <dd>
            <span *ngFor="let tasks of user.tasks; let last = last">
                <a [routerLink]="['/task', tasks?.id ]">{{tasks.taskName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span >Comments</span></dt>
        <dd>
            <span *ngFor="let comment of user.comments; let last = last">
                <a [routerLink]="['/comment', comment?.id ]">{{comment.comment}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
